<div class="shell">
  <aside class="shell__nav">
    <a class="shell__brand" routerLink="/">TRON UI</a>
    <ng-container [ngTemplateOutlet]="navTpl" />
  </aside>

  <header class="shell__topbar">
    <button
      class="shell__burger"
      type="button"
      aria-label="Open catalog"
      (click)="openNav()"
    >
      <tron-icon name="menu" />
    </button>

    <a class="shell__brand" routerLink="/">TRON UI</a>
  </header>

  <main class="shell__main">
    <router-outlet />
  </main>
</div>

<ng-template #navTpl>
  <div class="shell__groups">
    @for (group of nav; track group.label) {
      <div class="shell__group">
        <span class="shell__group-label">{{ group.label }}</span>
        @for (item of group.items; track item.path) {
          <a
            class="shell__link"
            [routerLink]="item.path"
            routerLinkActive="is-active"
            (click)="closeNav()"
          >{{ item.label }}</a>
        }
      </div>
    }
  </div>
</ng-template>
