<form [formGroup]="form">
  <tron-input 
    label="User Identifier"
    placeholder="Enter value"
    formControlName="id"
    [readonly]="isDisabled$()"
    tronErrors>
    <ng-container ngProjectAs="[tronPrefix]">
      <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.0754 12.2412V11.0753C11.0754 9.78758 10.0315 8.74365 8.74372 8.74365H5.24622C3.95847 8.74365 2.91455 9.78758 2.91455 11.0753V12.2412" stroke="#4A9AB5" stroke-width="1.16583" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M4.66357 4.0802C4.66357 5.36708 5.70836 6.41187 6.99524 6.41187C8.28212 6.41187 9.32691 5.36708 9.32691 4.0802C9.32691 2.79332 8.28212 1.74854 6.99524 1.74854C5.70836 1.74854 4.66357 2.79332 4.66357 4.0802V4.0802" stroke="#4A9AB5" stroke-width="1.16583" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </ng-container>
    </tron-input>

    <tron-toggle
      label="Control is disabled?"
      formControlName="openField"
      [(value)]="isDisabled$"
    />

    <tron-checkbox formControlName="alerts">Оповещения грида</tron-checkbox>

    <tron-slider
      formControlName="condition"
      [min]="0"
      [max]="100"
      [step]="10"
    ></tron-slider>

    <tron-button (click)="enable()">Enable</tron-button>
    <tron-button variant="ghost" (click)="disable()">Disable</tron-button>
    <tron-button [disabled]="true">Wait</tron-button>
    <tron-button variant="danger" (click)="derezz()">Derezz</tron-button>

    <tron-select
      label="Sector"
      placeholder="Choose sector"
      hint="Grid sector assignment"
      formControlName="sector"
      [options]="sectors"
      tronErrors
    />

    <tron-button (click)="notifyInfo()">Info</tron-button>
    <tron-button (click)="notifySuccess()">Success</tron-button>
    <tron-button (click)="notifyWarning()">Warning</tron-button>
    <tron-button variant="danger" (click)="notifyDanger()">Danger</tron-button>
</form>

<tron-alert-outlet />

<!-- <tron-progress
  [value]="23"
  label="Memory Allocation"
  ></tron-progress> -->

  <!-- <tron-stepper
  [data]="data">

  </tron-stepper> -->