@use '@angular/cdk/overlay-prebuilt.css';

@font-face {
  font-family: 'Share Tech Mono';
  src: url('./fonts/ShareTechMonoRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Orbitron';
  src: url('./fonts/Orbitron-Cyrillic.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
