@use '@angular/cdk/overlay-prebuilt.css';
@use 'tokens' as *;

@font-face {
  font-family: 'Share Tech Mono';
  src: url('./fonts/ShareTechMonoRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Orbitron';
  src: url('./fonts/Orbitron-Cyrillic.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  ascent-override: $fm-ascent-override;
  descent-override: $fm-descent-override;
  line-gap-override: 0%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
